

        <nav class="navbar navbar-dark bg-primary">
            <div class="container">
                <span class="navbar-brand mb-0 h1">
                Adaptive AI Health Intelligence
                </span>
            </div>
        </nav>

<div class="container mt-4">